<h1>Clone</h1>
<%= form_for @car, url:'/cars',method: :post do |f| %>
 <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>
   
      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :marka %><br>
    <%= f.text_field :marka %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :opis %><br>
    <%= f.text_area :opis %>
  </div>
  <div class="field">
    <%= f.label :rocznik %><br>
    <%= f.text_field :rocznik %>
  </div>
  <div class="field">
    <%= f.label :cena %><br>
    <%= f.text_field :cena %>
  </div>
  <div class="actions">
    <%= f.submit "zapisz" %>
  </div>
<% end %>
